/* CSS declarations go here */
html,
body{
	height:100%;
}
.hidden_div{
	display:none;
}
.up-down{
	padding:2px;
	float:right;
	padding-right:65%;
	padding-top: 1.4%;
}
.cover{
	background: #444 url('/Web-Page-Backgrounds-picture.jpg') center center no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
	text-align: center;
	display:flex;
	align-items:center;
	color: whitesmoke;

}
.cover-caption{
	width:100%;
}
.display-2{
	color:rgb(40,75,106);
}


